#clockContainer{
   position: relative;
   margin: auto;
   height:50vh; 
   width:50vw;
   background: url("clock.png") no-repeat;
   background-size: 100%;
}

#hour_hand,
#minute_hand,
#second_hand{
   position: absolute;
   background: black;
   border-radius: 30%;
   transform-origin: bottom;

}

#hour_hand {
   width:2%;
   height:25%;
   top:25%;
   left: 48.8%;
}

#minute_hand{
   width:1.5%;
   height:32%;
   top:20%;
   left: 48.9%;
}

#second_hand{
   width:1%;
   height:37%;
   top:15%;
   left: 48.7%;
}